<div class='btn_link esquerda'>
  <%= link_to 'Cadastrar Usuário', '/users/sign_up' %>
</div>
<br /><br />
<h1>Usuários Cadastrados</h1>

<table>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
  </tr>
<% end %>
</table>
